*{
    padding: 0px;
    margin: 0px;
}
.template{
    width: 1519px;
    height: 0 auto;
}
.header{
    height: 649px;
    width: 100%;
    background: #C39B06 ;
   
}
.text-part {
    float: left;
    margin-top: 213px;
    margin-left: 287px;

}
.text-part button{
    padding: 8px;
    border-radius: 17px;
    border: none;
    width: 98px;
}
.img-part img{
    float: right;
    height: 710px;
   
    margin-top:-26px;
    margin-right: 290px;
    transform: rotate(17deg);
}
.content-part{
    margin-left: 289px;
    margin-top: 62px;
    padding-right: 304px;
    padding-bottom: 33px;
}
.main-content-part{
    width: 100%;
    height: 374px;
}
.heading h3{
    text-align: center;
    background: #C39B06;
    padding: 10px;
}
.card{
    margin-left: 282px;
}
.img-a{
    width:201px;
    float: left;
    padding-top: 50px;
    margin-left: 11px;
    
}

.img-part-a img{
    height: 135px;
    width: 100%;
    float: left;
}
.img-part-a button{
 
    margin-top: 6px;
    margin-left:-192px;
    position: absolute;
    border-radius: 20px;
    
    
}
.cont{
    float: none;
    background: #C39B06;
    padding: 11px;
    margin-left: 0;
    width: 179px;
}
.img-b{
    margin-left: 294px;
    width:700px;
}
.title h3{
    padding-bottom: 25px;
}
.part-headphone img{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.footer{
    width: 100%;
    height: 79px;
    float: left;
    margin-top: 100px;
    background:#C39B06;
    padding: 15px;
}
.footer-text{
    padding: 16px;
}
.footer button{
    float: right;
    margin-right: 312px;
    padding: 8px;
    border-radius: 17px;
    border: none;
    width: 98px;
    margin-top: -51px;
}
.like{
    margin-top: 23px;
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
}
.like h3{
    
    font-size: 69px;
    color: yellow;
    display: inline;
    margin-left: 71px;
}
.like span{
    font-size: 11px;
    color: black;
    margin-top: 39px;
    position: absolute;
    margin-left: -95px;
    
}